.header, .image-container, .btn {
  display: flex;
  justify-content: center;
}
body {
  background-color: black;
}
h1 {
  font-family: 'DynaPuff', cursive;
  font-family: 'Peralta', cursive;
  color: white;
  font-size: 40px;
}
h2 {
  font-family: 'DynaPuff', cursive;
  font-family: 'Peralta', cursive;
  color: white;
  font-size: 30px;
}
#one, #two {
  font-family: 'DynaPuff', cursive;
  font-family: 'Peralta', cursive;
  color: black;
  font-size: 20px;
  background-color: white;
  border-radius: 20px;
  font-size: 20px;
  padding: 20px;
}